.list-cell {
   -fx-background-color: white;
   -fx-text-fill: black;
   -fx-light-text-color: black;
 }
 
.list-cell:filled:hover {
   -fx-background-color: lightgrey;
   -fx-text-fill: black;
   -fx-view-order: -1;
   -fx-effect: dropshadow(gaussian, #67676D, 12, 0.05, 0.0, 2);
 }